body {
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.cum {
    display: block;
    margin: 0 auto;
}

div.card {
    display: inline-block;
    width: calc(33% - 16px);
    background-color: rgb(202, 202, 202);
}